@model IEnumerable<DropDown4rmViewbag.Models.StudentClass>

@{
    ViewData["Title"] = "GetStudentClass";
}

<h1>GetStudentClass</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassId)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassName)
                </td>
            <td>
                    <a asp-action="EditGetStudentClass" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
